{# about.astro #}
{% extends "base.html" %}
{% block title %}about alpblkba{% endblock title %}
{% block content %}
{% <ui.section title="About"> %}
    {% for p in config.extra.about %}<p>{{ p }}</p>{% endfor %}
{% </ui.section> %}

{% <ui.section title="Now"> %}
    <dl>
      {% for x in config.extra.facts %}{{<ui.meta_row label={x.label} value={x.text} />}}
      {% endfor %}
    </dl>
{% </ui.section> %}

{% <ui.section title="Interests"> %}
    <p class="tags">{% for t in config.extra.interests %}{{<ui.tag label={t} />}}{% endfor %}</p>
    <ul>{% for d in config.extra.direction %}<li>{{ d }}</li>{% endfor %}</ul>
{% </ui.section> %}
{% endblock content %}
